body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 50px;
}
.orange-text {
  color: orange;
}

.half-width {
  width: 50%;
  padding: 2%;
}
.half-width img {
  width: 80%;
}
.link_button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: gray;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 5px;
}
.top-banner {
  background-image: url(img/top-banner.png);
  background-repeat: no-repeat;
}
.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.dream-big {
  background-image: url(img/banner2.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 10px 10px 40px gray;
}
.experience-area {
  background-image: url(img/bg-lt.png);
  background-repeat: no-repeat;
  background-position: left;
}
#right-dev {
  border-left: 7px solid;
  border-image: linear-gradient(orange, tomato);
  border-image-slice: 1;
}
#left-dev {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
